
*{margin: 0;
padding: 0;
}
/* for background  */

 div{
   /* background:linear-gradient(200deg, rgb(243, 239, 231),rgba(108, 171, 221)); */
   
  color: rgb(10, 10, 10);
  justify-content: center;
  text-align: center;
 width: 100%;
 padding-bottom: 100vh;

  
}
/* main header styling */
header{ color:rgba(0, 0, 0, 0.068);
  
  width: 375px;
  height:100px;
}  


/* content header font & sizing */
.title{
  
  border-radius:40% ;
  width:101%;
  height:90%
}


 menu{ margin-top: 5vh;;
   margin-bottom:20%;


}

/* content header coloring */
#resume{ color:#EBE6F9;
  background-color:#AD3D75 }

#projects{color: #EBE6F9;
  background-color:#D9AA5A;}

#aboutMe{color: #EBE6F9;
  background-color:#77A143;}



/* for main content  */
  article{
height:60vh;
width:90%;
font-size:1.5rem;
border-radius: 13px;
border-style: solid;
display: flex;
flex-direction:column;

justify-content: center;
background-color:#E1E5E9;
border-color: rgb(255, 255, 255);
box-shadow:100px 50px 100px 60px rgba(0, 0, 0, 0.377);
margin-left:30px;
}  



.projects{
    /* display: none; */
}

.aboutMe{
 /* display: none; */
}

 

.right-arrow{
   

}

aside{background-color:#3D4870 ;}

/* contact styling */
 .contact {
   display: flex;
   flex-direction: column;
   position:fixed;
   
 }
 
 /* contact img width */
.contact img{

  width: 50px;
}
