

 /* :root{
   background-image:
   
  -moz-linear-gradient(180deg, orange,red);
  
    
}  */

 body{
    background-image:
    linear-gradient(180deg, orange,red)
    
   /* -moz-linear-gradient(180deg, orange,red); */
   
     
 }  

 

 header{ color:rgb(255, 255, 255);
    position: sticky;
    width: 375px;
    height:100px;
} 
